<!DOCTYPE html>
<html>
<head>
    <style>
    * {
        font-family: Helvetica;
        padding: 0;
        margin: 0;
        color: #999;
    }
    body {
        background-color: #0e0e0e;
    }
    h2 {
        margin-top: 13px;
        margin-bottom: 7px;
    }
    td {
        width: 120px;
        padding-bottom: 4px;
        padding-top: 4px;
        border: 1px solid #333;
    }
    th {
        height: 30px;
        text-align: center;
        border: 1px solid #333;
    }
    th,td {
        padding-left: 7px;
        padding-right: 7px;
    }
    tr:hover {
        background-color: #1f1f1f;
    }
    table {
		width: 100%;
        border-collapse: collapse;
    }
	p {
		margin-top: 7px;
		margin-bottom: 5px;
	}
    #content {
        margin: auto;
        margin-bottom: 30px;
        max-width: 1200px;
    }
    .sort {
        cursor: pointer;
    }
    nav {
        width: 100%;
        margin-bottom: 30px;
        background-color: #222;
    }
    nav li {
        display: inline-block;
    }
    nav li a {
        display: inline-block;
        text-decoration: none;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 23px;
        padding-right: 23px;
    }
    nav li a:hover {
        background-color: #333;
    }
    nav ul {
        list-style: none;
        font-weight: bold;
    }
    .arrow-up {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #777;
        display: inline-block;
        margin-left: 7px;
    }
    .arrow-down {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #777;
        display: inline-block;
        margin-left: 7px;
    }
    select {
        border-color: #555;
        background-color: #202020;
        padding: 5px;
    }
    </style>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Overview</a></li>
                <li><a href="/hitmap">Hitmap</a></li>
                <li><a href="/weapons">Weapons</a></li>
                <li><a href="/maps">Maps</a></li>
            </ul>
        </nav>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/jquery/jquery.min.js"></script>
        <script>
function sortTable(table, column, ascending) {
	var tbl = document.getElementById(table).tBodies[0];
	var numbers = true;
	var store = [];
	for(var i=0, len=tbl.rows.length; i<len; i++){
		var row = tbl.rows[i];
		var sortnr = parseFloat(row.cells[column].textContent || row.cells[column].innerText);
		if(!isNaN(sortnr)) {
			store.push([sortnr, row]);
		} else {
			numbers = false;
			store.push([row.cells[column].textContent, row]);
		}
	}
	if (numbers) {
		store.sort(function(x,y) {
            return ascending ? x[0] - y[0] : y[0] - x[0];
		});
	} else {
		store.sort();
		if (!ascending)
			store.reverse();
	}
	for(var i=0, len=store.length; i<len; i++){
		tbl.appendChild(store[i][1]);
	}
	store = null;
}
$('.sort').on('click', function(e) {
	var d = 0;
	$(this).parent().find(' .arrow-up').remove();
	$(this).parent().find(' .arrow-down').remove();
	if (e.currentTarget.className.indexOf('_sortUp') != -1) {
		$(this).parent().find('._sortUp').removeClass('_sortUp');
		$(this).parent().find('._sortDown').removeClass('_sortDown');
		$(this).addClass('_sortDown');
		$(this).append('<span class="arrow-down"></span>');
		d = 1;
	} else if (e.currentTarget.className.indexOf('_sortDown') != -1) {
		$(this).parent().find('._sortUp').removeClass('_sortUp');
		$(this).parent().find('._sortDown').removeClass('_sortDown');
	} else {
		$(this).parent().find('._sortUp').removeClass('_sortUp');
		$(this).parent().find('._sortDown').removeClass('_sortDown');
		$(this).addClass('_sortUp');
		$(this).append('<span class="arrow-up"></span>');
	}
	sortTable(e.currentTarget.offsetParent.id,e.currentTarget.cellIndex, d);
});
        </script>
        {% block script %}{% endblock %}
    </body>
</html>
