{% extends "default.njk" %}
{% block content %}
<select id="map">{% for map in maps %}<option value="{{map.session_id}}">{{map.map}}:{{map.session_id}}</option>{% endfor %}</select>
<h2>Player stats</h2>
<table id="players">
    <thead>
        <tr>
            <th>Player</th>
            <th>Map</th>
            <th class="sort">Skill</th>
            <th class="sort">Dmg</th>
            <th class="sort">Hits</th>
            <th class="sort">Accuracy</th>
            <th class="sort">Kills (HS%)</th>
            <th class="sort">Deaths</th>
            <th class="sort">Playtime(s)</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}
{% block script %}
<script>
    function updateTable(data) {
        var table = $('#players tbody');
        var accuracy = Math.round((data['hits']/data['shots'])*100);
        var hs = Math.round((data['hs']/data['kills'])*100);
        var skill = Math.round(data['skill']*100)/100;
        var playtime = data['connection_time'];
        var row = table.find('#'+data['player_id']);
        if (row.length) {
            // Update values
            row.find('.skill').html(skill);
            row.find('.dmg').html(data['dmg']);
            row.find('.hits').html(data['hits']);
            row.find('.accuracy').html(!isNaN(accuracy) ? accuracy+'%' : '0');
            row.find('.kills').html(data['kills'] + (!isNaN(hs) ? ' ('+hs+'%)' : ''));
            row.find('.deaths').html(data['deaths']);
            row.find('.playtime').html(playtime);
        } else {
            table.append(
                '<tr id="'+data['player_id']+'"><td class="name"><a href="/player/'+data['player_id']+'">'+data['name']+'</a></td><td class="map">'+data['map']+'</td><td class="skill">' + skill +
                '</td><td class="dmg">'+data['dmg']+'</td><td class="hits">'+data['hits']+'</td><td class="accuracy">' +
                (!isNaN(accuracy) ? accuracy+'%' : '0') + '</td><td class="kills">' +
                data['kills'] +(!isNaN(hs) ? ' ('+hs+'%)' : '')+'</td><td class="deaths">'+data['deaths']+
                '</td><td class="playtime">'+playtime+'</td></tr>'
            );
        }
        var tmp = $('._sortUp');
        var d = 0;
        if (tmp.length == 0) {
            tmp = $('._sortDown');
            d = 1;
        }
        if (tmp.length != 0) {
            sortTable("players",tmp[0].cellIndex, d);
        }
    }

    var socket = io.connect('http://{{ip}}');
    var interval = null;

    $('#map').on('change', function(e) {
        $('#players tbody').empty();
        clearInterval(interval);
        var p = 'fetch_data_map';
        var data = e.target.value;
        socket.emit(p, data);
        interval = setInterval(function() {
            socket.emit(p, data);
        }, 5000)
    });
    socket.on('connect', function() {
        socket.emit('fetch_data_map', document.getElementById('map').value);
        interval = setInterval(function() {
            socket.emit('fetch_data_map', document.getElementById('map').value);
        }, 5000)
    });
    socket.on('recieve_data_map', function(data) {
		if (data == null) {
			return;
		}
		if (data.latest != null) {
			var e = document.getElementById('map');
			if (e.firstChild.value != data.latest) {
				if (e.options[e.selectedIndex].value == e.firstChild.value) {
					window.location.reload(true);
					return;
				}
				if (document.getElementsByClassName('latest-session')[0] == null) {
					$('#map').after('<p class="latest-session"><a href="/maps">Load new map</a></p>');
				}
			}
		}
		updateTable(data);
    });
</script>
{% endblock %}
