<select id="weapon">
    <!--<option value="all">All</option>-->
	<option value="best">Best</option>
    <option value="ak47">ak47</option>
    <option value="aug">aug</option>
    <option value="awp">awp</option>
    <option value="deagle">deagle</option>
    <option value="elite">elite</option>
    <option value="fiveseven">fiveseven</option>
    <option value="g3sg1">g3sg1</option>
    <option value="galil">galil</option>
    <option value="glock18">glock18</option>
    <option value="knife">knife</option>
    <option value="m249">m249</option>
    <option value="m3">m3</option>
    <option value="m4a1">m4a1</option>
    <option value="mac10">mac10</option>
    <option value="mp5navy">mp5navy</option>
    <option value="p228">p228</option>
    <option value="p90">p90</option>
    <option value="scout">scout</option>
    <option value="sg550">sg550</option>
    <option value="sg552">sg552</option>
    <option value="tmp">tmp</option>
    <option value="usp">usp</option>
    <option value="xm1014">xm1014</option>
</select>
